<% title 'Indeks Opinii' %>
<% description 'Wylewki Mixokretem Tynki Agregatem Posadzki Przemysłowe na terenie: Połaniec, Staszów, Osiek i inne. Najlepsza jakość i rozsądne ceny!' %>
<% keywords 'Krzysztof Borkowski Wylewki Tynki Posadzki Połaniec Staszów Mielec Tarnobrzeg Osiek Wylewka Tynk Posadzka Agregatem Mixokretem Przemysłowa Firma Budowlana Budownictwo Remont Beton Jakość Cena Facebook'  %>

<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

          <div class="table-responsive">
              <table class="table table-hover">

                <tr>
                  <th>Opinion_id</th>
                  <th>Treść</th>
                  <th>Użytkownik / id</th>
                </tr>

                <% @opinions.each do |opinion| %>

                    <tr>
                      <td><%= opinion.id %></td>
                      <td><%= opinion.content %> &nbsp; <%= link_to '<i class="fa fa-times"></i>'.html_safe, opinion, :method => :delete %> &nbsp;
                        <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_opinion_path(opinion), remote: true %> </td>
                      <td><abbr title=" <%= opinion.user.email %> "><%= opinion.user.name %> </abbr> / <b><%= opinion.user.id %></b></td>
                    </tr>
                    <tr id="<%=opinion.id%>_edit_slide" style="display: none"></tr>

                <% end %>


              </table>
          </div>

      <%= will_paginate @opinions, renderer: BootstrapPagination::Rails, :previous_label => t("Wstecz"), :next_label => t("Dalej") %>


    </div>
  </div>
</div>
