<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

          <div class="table-responsive">
              <table class="table table-hover">

                <tr>
                  <th>Opinion_id</th>
                  <th>Treść</th>
                  <th>Użytkownik / id</th>
                </tr>

                <% @opinions.each do |opinion| %>

                    <tr>
                      <td><%= opinion.id %></td>
                      <td><%= opinion.content %> &nbsp; <%= link_to '<i class="fa fa-times"></i>'.html_safe, opinion, :method => :delete %> &nbsp; <%= link_to 'nowa_EDYCJA', edit_opinion_path(opinion), class: 'nowa_edycja', remote: true %> <i class="fa fa-pencil-square-o"></i> </td>
                      <td><abbr title=" <%= opinion.user.email %> "><%= opinion.user.name %> </abbr> / <b><%= opinion.user.id %></b></td>
                    </tr>
                    <tr class="edit_slide" style="display: none">

                      <td></td>
                      <td>
                        <p><strong>Edycja opini:</strong></p>

                        <%= simple_form_for opinion do |form| %>
                            <%= form.input :content, as: :text, input_html: { :value => opinion.content, minleangth: 50, maxlength: 140 }, label: 'Treść:', hint: 'Znaki Minimum: 50 Maximum: 140', required: false %>

                            <%= form.button :submit, 'Zmień opinię' %>
                        <% end %>

                      </td>
                      <td></td>

                    </tr>
                <% end %>
                <%= will_paginate @opinions, renderer: BootstrapPagination::Rails, :previous_label => t("Wstecz"), :next_label => t("Dalej") %>

              </table>
          </div>


    </div>
  </div>
</div>
