<div class="container" id="back_other">

      <%= CompanyDatum.find(1).content.html_safe %>

  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <hr>

      <h2 id="contact_link">Wyślij wiadomość do nas</h2>

      <br>

      <%= simple_form_for @contact do |f| %>
          <%= f.input :name, :required => true, label: 'Imię', input_html: { :value => "#{current_user.name}" } if user_signed_in?  %>
          <%= f.input :email, :required => true, input_html: { :value => "#{current_user.email}" } if user_signed_in? %>
          <%= f.input :message, :as => :text, :required => true, label: 'Wiadomość' %>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Zostaw te pole puste!' %>
          </div>
          <div>
            <br>
            <%= f.button :submit, 'Wyślij wiadomość', :class=> "btn btn-primary" %>
          </div>
      <% end %>

    </div>
  </div>
</div>