<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <h2>Zmiana hasła</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
            <%= f.input :password, label: "Nowe hasło", required: true, autofocus: true %>
            <%= f.input :password_confirmation, label: "Potwierdź nowe hasło", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Zmień hasło" %>
          </div>
      <% end %>

      <br>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>
