<footer>

    <div class="container" id="back2nd" style='margin-top: <%= yield(:footer_top) %>'>

      <% if Opinion.count > 0 %>

      <div class="row" id="title_opinion">
        <div class="col-md-10 col-md-offset-1">
          <h4 style="color: #C1C1C1"><em>Opinie o nas:</em></h4>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="owl-carousel_foot owl-theme" id="owl-slide2">

            <% Opinion.all.each do %>

                <div class="item"> <blockquote style="border-top-left-radius: 5px"> <p><%= opinion_id_cont %></p> <footer><%= show_user %></footer></blockquote> </div>
                <div class="item"> <blockquote style="border-top-right-radius: 5px" class="blockquote-reverse"> <p><%= opinion_id_cont %></p> <footer><%= show_user %></footer></blockquote> </div>

            <% end %>
          </div>

        </div>
      </div>

      <% end %>

      <div class="row" id="row_foot">
        <div class="col-xs-12 col-md-6">
          <div class="row" id="row_f_left">
            <div class="col-xs-6 col-xs-offset-1 col-md-6" style="margin-left: 10px">
              <h4>
                  <ul>
                    <li><%= link_to 'Strona Główna', root_path %></li>
                    <% BusinessMethod.all.each do |method| %>
                        <li><%= link_to method.title, business_method_path(method) %></li>
                    <% end %>
                    <li><%= link_to Gallery.find(1).title_footer, gallery_path(Gallery.find(1)) %></li>
                    <li><%= link_to 'Napisz do nas', contact_path + '#contact_link' %></li>
                  </ul>
              </h4>
            </div>

            <div class="col-xs-5 col-md-5" style="padding-right:0">
              <h4>

                <ul style="padding-left: 0">
                  <li><%= link_to "Zarejestruj się", new_user_registration_path %></li>
                  <li><%= link_to "Panel logowania", new_user_session_path %></li>
                  <li><%= link_to "Napisz opinię o nas", new_opinion_path %></li>
                  <li style="padding-top: 10px; letter-spacing: 8px;"> <a href='http://www.borkowski_wylewki_tynki.oferteo.pl/' target='blank'>
                    <img src='http://www.oferteo.pl/images/buttons/oferteo_m3.gif?customerId=135558' border='0' alt='Zobacz Krzysztof Borkowski "Tynki agregatem, Wylewki mixokretem, Posadzki przemyslowe" na Oferteo.pl' title='Krzysztof Borkowski "Tynki agregatem, Wylewki mixokretem, Posadzki przemyslowe" w Oferteo.pl'/>
                  </a><i class="fa fa-facebook-square fa-2x"></i><i class="fa fa-google-plus-square fa-2x"></i></li>
                </ul>

                <br>

              </h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <hr class='row hidden-lg hidden-md'>


                <div class="col-xs-offset-1 col-xs-4 col-md-5" style="margin-left: 10px">
                  <h4>Adres firmy:<br><br></h4>
                  <address>
                    <h5>
                      <%= CompanyDatum.find(1).name.html_safe %><br><br>
                      <%= CompanyDatum.find(1).address.html_safe %><br>

                    </h5>
                  </address>
                </div>

                <div class="col-xs-5 col-md-5">

                  <strong>
                    <h4>Informacje kontaktowe:<br><br></h4>
                    <address>
                      <h5>

                        <%= link_to CompanyDatum.find(1).email.html_safe, 'mailto:' + CompanyDatum.find(1).email, style: 'text-decoration:none; color:#C1C1C1' %> <br><br>
                        <%= CompanyDatum.find(1).mob_phone %><br>
                        <%= CompanyDatum.find(1).phone %><br>

                </strong>
                      </h5>
                    </address>
                </div>

        </div>
      </div>

      <div class="row" id="author">
        Copyright &copy; Kamil Tarnowski
      </div>
    </div>

</footer>