<footer>

    <div class="container" id="back2nd">
      <div class="row" id="row_foot">
        <div class="col-lg-offset-1 col-lg-6">
          <div class="row" id="row_f_left">
            <div class="col-lg-6">
              <h4>
                  <ul>
                    <li><%= link_to 'Strona główna', root_path %></li>
                    <li><%= link_to 'Metoda pierwsza', "#" %></li>
                    <li><%= link_to 'Metoda druga', "#" %></li>
                    <li><%= link_to 'Metoda trzecia', "#" %></li>
                    <li><%= link_to 'Wykonane realizacje', "#" %></li>
                    <li><%= link_to 'Napisz do nas', "#" %></li>
                  </ul>
              </h4>
            </div>

            <div class="col-lg-6">
              <h4>
                <ul>
                  <li><%= link_to "Zarejestruj się", "#" %></li>
                  <li><%= link_to "Logowanie", "#" %></li>
                  <li><%= link_to "Napisz opinię o nas", "#" %></li>
                </ul>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <h4>Adres firmy:<br>
          </h4>
            <adress>
                <h5>
                  Borkowski Wylewki<br><br>
                  ul. Krakowska 5/80<br>
                  Osiek 30-215<br>

                </h5>
            </adress>
        </div>

        <div class="col-lg-3">
          <h4>Informacje kontaktowe:<br></h4>
            <adress>
               <h5>

                wylewki@gmail.com<br><br>
                tel: 15865922<br>
                t.kom: 508223442<br><br>

               </h5>
            </adress>
        </div>
      </div>

      <div class="row" id="author">
        &copy;opyright and design by Kamil Tarnowski
      </div>
    </div>


</footer>