<header>

    <div class='container' id="back_logo">
          <%= link_to image_tag('Panorama_header.png', alt: 'Logo Borkowski Wylewki',
                                style: 'max-width: 100%; high: auto', id: 'logo_image'), root_path %>
    </div>
    <nav class="navbar navbar-inverse" style="box-shadow: <%= yield(:header_box) %>">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="nav navbar-nav">
            <li class=" <%= 'active' if current_page?(root_path) %> "><%= link_to "Start", root_path %></li>
            <li class="dropdown">
            <li class="<%='active' if current_page?(metoda_1_path) || current_page?(metoda_2_path) || current_page?(metoda_3_path)%>"><a class="dropdown-toggle" data-toggle="dropdown" href>Wykorzystywane metody
              <span class="caret"></span></a>
              <ul class="dropdown-menu"">
                <li class=" <%='active' if current_page?(metoda_1_path) %> "><a href=" <%= metoda_1_path %> ">Metoda Pierwsza</a> </li>
                <li class=" <%='active' if current_page?(metoda_2_path) %> "><a href=" <%= metoda_2_path %> ">Metoda Druga</a> </li>
                <li class=" <%='active' if current_page?(metoda_3_path) %> "><a href=" <%= metoda_3_path %> ">Metoda Trzecia</a> </li>
              </ul>
            <li class="<%='active' if current_page?(realizacje_path) %>"><a href=" <%= realizacje_path %> ">Realizacje</a></li>
            <li class=" <%='active' if current_page?(contact_path) %> "><a href=" <%= contact_path %> ">Kontakt</a></li>
            </ul>

          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
                <% if current_user.admin? %>
                    <li><%= link_to 'Opinie', opinions_path %></li>
                <% end %>
                <li class="dropdown">
                    <li class=" <%='active' if current_page?(edit_user_registration_path) %> "><a class="dropdown-toggle" data-toggle="dropdown" href>Konto użytkownika<i class="fa fa-caret-square-o-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class=" <%='active' if current_page?(edit_user_registration_path) %> "> <%= link_to '<i class="fa fa-pencil fa-fw"></i>Edycja'.html_safe, edit_user_registration_path %></li>
                        <li> <%= link_to '<i class="fa fa-sign-out"></i>Wyloguj mnie'.html_safe, destroy_user_session_path , :method => :delete %> </li>
                    </ul>
                </li>
            <% else %>
                <li class=" <%='active' if current_page?(new_user_registration_path) %> "><a href=" <%= new_user_registration_path %> "><i class="fa fa-user fa-fw"></i>Rejestracja</a></li>
                <li class=" <%='active' if current_page?(new_user_session_path) %> "><a href=" <%= new_user_session_path %> "><i class="fa fa-sign-in"></i>Logowanie</a></li>
            <% end %>

           </ul>
           </div>

            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="./">Borkowski Wylewki</a>
        </div>
        </div>
    </nav>

</header>