<header>

  <div class='container' id="back_logo">
    <%= link_to image_tag('Panorama_header.png', alt: 'Logo Krzysztof Borkowski',
                          style: 'max-width: 100%; high: auto', id: 'logo_image'), root_path %>
  </div>
  <nav class="navbar navbar-inverse" style="box-shadow: <%= yield(:header_box) %>">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-lg hidden-md hidden-sm" href=<%= root_path %> >Krzysztof Borkowski</a>
      </div>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="nav navbar-nav">
          <li class=" <%= 'active' if current_page?(root_path) %> "><%= link_to '<i class="fa fa-home"></i>'.html_safe + HomePage.find(1).title, root_path %></li>

          <li class="dropdown <% BusinessMethod.all.each do |method| %>
                                <%= 'active' if current_page?(business_method_path(method)) %>
                              <% end %>">
            <a class="dropdown-toggle " data-toggle="dropdown" href="">Zakres działalności<i class="fa fa-caret-down"></i></a>

            <ul class="dropdown-menu"">
            <% BusinessMethod.all.each do |method| %>
                <li class=" <%='active' if current_page?(business_method_path(method)) %> "><a href=" <%= business_method_path(method) %> "><%= method.title.html_safe %></a> </li>
            <% end %>
            </ul>

          </li>

          <li class="<%='active' if current_page?(gallery_path(Gallery.find(1))) %>"><a href=" <%= gallery_path(Gallery.find(1)) %> "><i class="fa fa-picture-o"></i><%= Gallery.find(1).title %></a></li>
          <li class=" <%='active' if current_page?(contact_path) %> "><a href=" <%= contact_path %> "><i class="fa fa-envelope"></i><%= CompanyDatum.find(1).title %></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
              <% if current_user.opinion %>
                  <li class=" <%= 'active' if current_page?(current_user.opinion) %> "> <%= link_to '<i class="fa fa-comment"></i>Opinia'.html_safe, current_user.opinion %></li>
              <% end %>
              <% if current_user.opinion.nil? %>
                  <li class=" <%= 'active' if current_page?(new_opinion_path) %> "> <%= link_to '<i class="fa fa-comment-o"></i>Nowa opinia'.html_safe, new_opinion_path %></li>
              <% end %>
              <% if current_user.admin? %>
                  <li class="dropdown">
                  <li class=" <%='active' if current_page?(users_path) || current_page?(opinions_path) %> "><a class="dropdown-toggle" data-toggle="dropdown" href>Panel Admina<i class="fa fa-caret-square-o-down"></i></a>
                    <ul class="dropdown-menu">
                      <li class=" <%='active' if current_page?(users_path) %> "><%= link_to 'Użytkownicy', users_path %></li>
                      <li class=" <%='active' if current_page?(opinions_path) %> "><%= link_to 'Opinie', opinions_path %></li>
                      <li class="<%= 'active' if current_page?(new_business_method_path) %>"><%= link_to 'Napisz nową metodę', new_business_method_path %></li>
                      <li class="<%= 'active' if current_page?(edit_home_page_path(HomePage.find(1))) %>"><%= link_to 'Strona główna', edit_home_page_path(HomePage.find(1)) %></li>
                      <li class="<%= 'active' if current_page?(edit_company_datum_path(CompanyDatum.find(1))) %>"><%= link_to 'Dane firmy', edit_company_datum_path(CompanyDatum.find(1)) %></li>
                      <li class=" <%='active' if current_page?(edit_gallery_path(Gallery.find(1))) %> "><%= link_to 'Edycja Galerii', edit_gallery_path(Gallery.find(1)) %></li>
                    </ul>
                  </li>
              <% end %>
              <li class="dropdown">
              <li class=" <%='active' if current_page?(edit_user_registration_path) %> "><a class="dropdown-toggle" data-toggle="dropdown" href>Konto użytkownika<i class="fa fa-caret-square-o-down"></i></a>
                <ul class="dropdown-menu">
                  <li class=" <%='active' if current_page?(edit_user_registration_path) %> "> <%= link_to '<i class="fa fa-pencil fa-fw"></i>Edycja'.html_safe, edit_user_registration_path %></li>
                  <li> <%= link_to '<i class="fa fa-sign-out"></i>Wyloguj mnie'.html_safe, destroy_user_session_path , :method => :delete %> </li>
                </ul>
              </li>
          <% else %>
              <li class=" <%='active' if current_page?(new_user_registration_path) %> "><a href=" <%= new_user_registration_path %> "><i class="fa fa-user fa-fw"></i>Rejestracja</a></li>
              <li class=" <%='active' if current_page?(new_user_session_path) %> "><a href=" <%= new_user_session_path %> "><i class="fa fa-sign-in"></i>Logowanie</a></li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>

</header>