<header>

    <div class='container' id="back_logo">
      <div class="row" id="logo">
        <div class="col-md-6">
          <%= link_to image_tag('cinqueterre.jpg', alt: 'Logo',
                                style: 'width:30%; high:30px; border-radius:4px' ), root_path %>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse" style="box-shadow: <%= yield(:header_box) %>">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="nav navbar-nav">
            <li><%= link_to "Start", root_path %></li>
            <li class="dropdown">
            <li><a class='dropdown-toggle' data-toggle="dropdown" href>Wykorzystywane metody
              <span class="caret"></span></a>
              <ul class="dropdown-menu"">
                <li><a href=" <%= metoda_1_path %> ">Metoda Pierwsza</a> </li>
                <li><a href=" <%= metoda_2_path %> ">Metoda Druga</a> </li>
                <li><a href=" <%= metoda_3_path %> ">Metoda Trzecia</a> </li>
              </ul>
            <li><a href=" <%= realizacje_path %> ">Realizacje</a></li>
            <li><a href=" <%= kontakt_path %> ">Kontakt</a></li>
            </ul>

          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
                <li class="dropdown">
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href>Konto użytkownika<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <%= link_to '<span class="glyphicon glyphicon-edit">Edycja'.html_safe, "#" %></li>
                        <li> <%= link_to '<span class="glyphicon glyphicon-log-out">Wyloguj mnie'.html_safe, destroy_user_session_path , :method => :delete %> </li>
                    </ul>
                </li>
            <% else %>
                <li><a href=" <%= new_user_registration_path %> "><span class="glyphicon glyphicon-user"></span>Rejestracja</a></li>
                <li><a href=" <%= new_user_session_path %> "><span class="glyphicon glyphicon-log-in"></span>Logowanie</a></li>
            <% end %>

           </ul>
           </div>

            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="./">Borkowski Wylewki</a>
        </div>
        </div>
    </nav>

</header>