<!DOCTYPE html>
<html>
<head>

  <%= display_meta_tags :site => 'Borkowski Wylewki' %>

  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>

    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>
    <div id='button_up'><i class="fa fa-angle-double-up fa-3x"></i></div>

    <script>

        <% flash.each do |key, value| %>
        <%= add_gritter(value, flash[key], :image => :notice, :title => 'Komunikat:', nodom_wrap: true) %>
        <% end %>

    </script>

</body>
</html>