<% title 'Edycja Użytkownika' %>
<% description 'Wylewki Mixokretem Tynki Agregatem Posadzki Przemysłowe na terenie: Połaniec, Staszów, Osiek i inne. Najlepsza jakość i rozsądne ceny!' %>
<% keywords 'Krzysztof Borkowski Wylewki Tynki Posadzki Połaniec Staszów Mielec Tarnobrzeg Osiek Wylewka Tynk Posadzka Agregatem Mixokretem Przemysłowa Firma Budowlana Budownictwo Remont Beton Jakość Cena Facebook'  %>

<div class="container" id="back_other">
  <div class="row" id="row_next">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10">

      <h2>Edycja Użytkownika</h2>

      <br>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Obecnie oczekujemy potwierdzenia mailowego Użytkownika <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :name, label: 'Imię', hint: "Zostaw pole puste, jeśli nie chcesz zmienić.", required: false %>
            <%= f.input :password, autocomplete: "off", label: 'Hasło', hint: "Zostaw pole puste, jeśli nie chcesz zmienić.", required: false %>
            <%= f.input :password_confirmation, label: 'Potwierdzenie hasła', required: false %>
            <%= f.input :current_password, label: "Obecne hasło", hint: "Należy podać obecne hasło, aby zatwierdzić zmiany.", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Aktualizuj" %>
          </div>
      <% end %>

      <br>

      <p> <%= link_to "Usuń moje konto użytkownika", registration_path(resource_name), data: { confirm: "Czy na pewno?" }, method: :delete %></p>

      <%= link_to "Wstecz", :back %>

    </div>
  </div>
</div>
